{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="login-form padding20 block-shadow">
        <form action="{{ path('login') }}" method="post">
            <h1 class="text-light">Login to service</h1>
            <hr class="thin"/>
            <br />
            <div class="input-control text full-size" data-role="input">
                <label for="username">User email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                <label for="password">User password:</label>
                <input type="password" id="password" name="_password" />
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
            </div>
            <br />
            <br />
            <div class="form-actions">
                <button type="submit" class="button primary">Login</button>
                <a href="{{ path('registration') }}" class="button link">Registration</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background-color: bg;
        }

        .login-form {
            width: 25rem;
            height: 18.75rem;
            position: fixed;
            top: 44%;
            margin-top: -9.375rem;
            left: 57%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }
    </style>
{% endblock %}
{% block javascript %}
    <script>
        $('body').addClass('bg-cobalt');

        $(function(){
            var form = $(".login-form");

            form.css({
                opacity: 1,
                "-webkit-transform": "scale(1)",
                "transform": "scale(1)",
                "-webkit-transition": ".5s",
                "transition": ".5s"
            });
        });
    </script>
{% endblock %}
