{% extends '::base.html.twig' %}

{% block body %}
    <br><br><br><br>
    <div class="row flex-just-center cells9 ">
        <div class="cell colspan9">
            <h2>О cервисе</h2>
            <div class="panel">
                <div class="content ">
                    <div class="padding10">
                        <h3>Что это за сервис?</h3>
                        <p>- хостинг изображений в котором вы можете
                            разместить картинку в интернете за одно действуя.
                            Любой тип изображения, из сырых данных или URL в интернете.
                            Проще говоря, мы создали самый простой и быстрый
                            хостинг картинок в сегменте UA-IX.</p>
                        <h3>Почему он был создан?</h3>
                        <p>Чтобы опубликовать обычный скриншот необходимо
                            сделать очень много операций таких как нажатие
                            на PrintScreen, вставка в графический редактор,
                            сохранение на жесткий диск и толкьо потом загрузка
                            на сервер. Это всегда занимает много времени и
                            сбивает с рабочего процесса. Мы создали этот сервис
                            для того чтобы экономить время людей, которые ценят его.
                        </p>
                        <h3>Как можно его использовать?</h3>
                        <p><span>Вот несколько предполагаемых спосбов использования:</span>
                            <ul class="simple-list">
                                <li>Встретили веселый комментарий в интернете и хочется поделится с друзьями? - отличнй случай сделать скриншот и опубликолвать на prtscr.cx.ua</li>
                                <li>Опубликовать изображение на форуме, а форум не поддерживает загрузку картинок, добро пожаловать!</li>
                                <li>Увидели где-то ошибку - сделайте скриншот и отправьте разработчикам ссылку.</li>
                                <li>Сделать быстрые заметки по работе и отправить друзьям в социальную сеть - тоже кнам!</li>
                            </ul>
                        </p>
                        <h3>Создатели проекта:</h3>
                        <p><a href="kovalp7@gmail.com">Pasha</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}