{% extends '::base.html.twig' %}

{% block body %}
    <br><br><br><br>
<div class="row flex-just-center cells9 ">
    <div class="cell colspan9">
        <h2>FAQ</h2>
        <div class="panel">
            <div class="content">
                <div class="padding10">
                    <h3>Наш сервис - это хостинг картинок в UA-IX?</h3>
                    <p>Да, наши сервера расположены в украинском сегменте UA-IX.</p>
                    <h3>Какие форматы изображений  я могу загружать в облоко?</h3>
                    <p>Сервис поддерживет следующие форматы изображений:
                    <ul class="simple-list">
                        <li>
                            RAW(исходные) данные, такие как при захвате экрана или изображения в выборе редактора, или когда вы щелкните правой кнопкой мыши на изображение чтобы скопировать его.
                        </li>
                        <li>
                            URL к картинке в интернете
                        </li>
                        <li>
                            Картинка на Вашем компьюетере с расширением JPG
                        </li>
                    </ul>
                    </p>
                    <h3>Как сделать скриншот на компьюетере</h3>
                    <p>Сделать скрипшот и сразу скопировать его в буффер обмена на компьютере можно нажатием на клавишу <span class="fg-darkBlue">Print-Screen</span>.</p>
                    <h3>Какие браузеры поддерживает наш сервис?</h3>
                    <p>Сервис работает на всех новых браузерах. Для лучшей работы мы рекомендуем использовать <a href="http://www.google.com/chrome/" target="_blank" title="Get Chrome!">Chrome 12+</a> или <a href="http://www.mozilla.com/en-US/firefox/new/" target="_blank" title="Get Firefox!">Firefox 4+</a>. Для некоторых элементов необходим установленнй Adobe Flash плагин, но на основную работу это не влияет.</p>
                    <h3>На чем стоит сервис?</h3>
                    <p>Наш хостинг картинок расположен ан виртуальных серверах предоставленых компанией <a href="http://cityhost.ua" target="_blank">CityHost.ua</a></p>
                    <h3>Что делать если я нашел ошибку на сервисе?</h3>
                    <p>Напишите нам на <a href="mailto:contact@pictures.ua">contact@pictures.ua</a> с описанием того что случилось. Обязательно сделайте скриншот, если если такая возможнось.</p>
                    <h3>Другие вопросы</h3>
                    <p>Еще немного информации на страницах <a href="{{ path('about') }}">о проекте</a>, <a href="{{ path('rules') }}">FAQ</a> и <a href="{{ path('faq') }}">Правила пользования</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}