{% extends '::base.html.twig' %}

{% block body %}
    <br><br><br><br>
<div class="row flex-just-center cells9 ">
    <div class="cell colspan9">
        <h2>Правила пользования сервисом</h2>
        <div class="panel">
            <div class="content">
                <div class="padding10">
                    <h3>Правила</h3>
                    <p>Не размещайте ничего противозаконного, порнографического, защищеннего копирайтом или оскорбляющего других - если вы это сделаете, мы вас забаним и не будем пускать на сайт. Будьте хорошими людьми, думайте что делаете, читайте книги, хорошо питайтесь и не будьте скупыми.</p>

                    <h3>Использование</h3>
                    <p>Загрузки полностью анонимные, и просмотреть их можно только если Вы дадите ссылку. Картинки у которых за последний месяц не было ни одного просмотра удаляются с сервера навсегда. В рамках браузерной сессии хранится история загрузок и вы имеете возможность управлять своими изображениями - редактировать или удалить.</p>
                    <br />

                    <p>Если остались вопросы загляните на страничку <a href="{{ path('rules') }}">о проекте</a> и <a href="{{ path('faq') }}">FAQ</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}